/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background:  url('/static/images/FondoLogin.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 20px;
    text-align: center;
}

.login-logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.login-header h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.login-main {
    margin-top: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form label {
    font-size: 0.9rem;
    color: #555;
    text-align: left;
}

.login-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
}

.login-form input:focus {
    border-color: #b71c1c;
    outline: none;
}

.btn-login {
    background-color: #b71c1c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #8e0000;
}

.login-footer {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #555;
}

.login-footer a {
    color: #b71c1c;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}

.alert {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    font-size: 0.9rem;
    color: white;
    background-color: #b71c1c;
}