<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Misceláneos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gestion.css') }}">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <a href="{{ url_for('index') }}"><img src="/static/images/LogoDX-MXA2624.png" alt="Logo Izquierdo" class="logo"></a>
        <h1>Gestión de Misceláneos</h1>
    </header>

    <!-- Contenedor de tarjetas -->
    <main class="cards-container">
        <!-- Tarjeta 1 -->
        <a href="{{ url_for('Validacion_Miscelaneos') }}" class="card">
            <img src="{{ url_for('static', filename='images/LogoValidacion.png') }}" alt="Validación" class="card-img">
            <h3>Validación de Misceláneos</h3>
            <p>Revisión al material de Misceláneos para confirmar su recepción en tiempo y forma.</p>
        </a>

        <!-- Tarjeta 2 -->
        <a href="{{ url_for('Entrega_Material') }}" class="card">
            <img src="{{ url_for('static', filename='images/EntregaMaterial.png') }}" alt="Entrega" class="card-img">
            <h3>Entrega de Material</h3>
            <p>Confirmación de entregar el material al usuario correcto junto con la evidencia necesaria.</p>
        </a>
    </main>
</body>
</html>